<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>animal</key>
		<string>animal</string>
		<key>URL</key>
		<string>http://www.handspeak.com/word/a/animal.mp4</string>
	</dict>
	<dict>
		<key>animal</key>
		<string>cat</string>
		<key>URL</key>
		<string>http://www.handspeak.com/word/c/cat.mp4</string>
	</dict>
</array>
</plist>
